#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #343a40; /* Cor de fundo da nav */
  color: #fff; /* Cor do texto */
  height: 35px;
}

#navBar .link {
  text-decoration: none;
  color: #fff;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  background-color: #6c757d;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s;
}

.dropdown-toggle:hover {
  background-color: #5a6268;
}

.dropdown-menu {
  position: absolute; /* Para que fique abaixo do botão */
  background-color: #343a40;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); /* Sombra suave */
  padding: 0; /* Remover padding inicial */
  overflow: hidden; /* Oculta o conteúdo que excede */
  max-height: 0; /* Altura inicial como zero */
  opacity: 0; /* Inicialmente invisível */
  transition: max-height 0.5s ease, opacity 0.5s ease; /* Transição suave */
  z-index: 1000; /* Para garantir que fique acima de outros elementos */
  width: 100%; /* Garantir que o menu ocupe toda a largura do dropdown */
}

.dropdown-menu.show {
  max-height: 200px; /* Altura máxima que o menu pode atingir */
  opacity: 1; /* Torna o menu visível */
  padding: 10px 0; /* Adiciona padding quando está visível */
}

.dropdown-item {
  color: #ffffff; /* Cor do texto do item */
  text-decoration: none;
  padding: 10px 5px; /* Remover padding lateral */
  transition: background-color 0.3s, color 0.3s;
  font-size: 18px;
  text-align: left; /* Alinhamento à esquerda */
  white-space: nowrap; /* Impede que o texto quebre em várias linhas */
  min-height: 40px; /* Altura mínima para garantir consistência */
  width: 100%; /* Faz com que cada item ocupe a largura total do dropdown */
  display: block; /* Faz com que o item se comporte como um bloco */
}

.dropdown-item:hover {
  background-color: #495057; /* Cor de fundo ao passar o mouse */
  color: #ffc107; /* Cor do texto ao passar o mouse */
}

/* Adiciona espaçamento entre os itens */
.dropdown-item + .dropdown-item {
  border-top: 1px solid rgba(255, 255, 255, 0.1); /* Linha entre itens */
}
